@model List<MyBlog.EntityLayer.Concrete.Article>

<div class="col-xl-9 stretch-card grid-margin">
    <div class="card">
        <div class="card-body px-0 overflow-auto">
            <h4 class="card-title pl-4">Yazarın Blogları</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                        <tr>
                            <th>Yazar</th>
                            <th>Başlık</th>
                            <th>Detay</th>
                            <th>Kategori</th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    
                                    <div class="d-flex align-items-center">
                                        <img src="@item.AppUser.ImageUrl" alt="image" />
                                        <div class="table-user-name ml-3">
                                            <p class="mb-0 font-weight-medium"> @item.AppUser.Name </p>
                                        </div>
                                    </div>
                                </td>
                                <td>@string.Join(" ", item.Title.Split(' ').Take(3))</td>
                                <td>@string.Join(" ", item.Detail.Split(' ').Take(3))</td>
                                <td>@item.Category.CategoryName</td>

                                <td>
                                    @if (item.Status)
                                    {
                                        <div class="badge badge-inverse-success">Aktif</div>
                                    }
                                    else
                                    {
                                        <div class="badge badge-inverse-danger">Pasif</div>
                                    }
                                </td>
                           
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a class="text-black mt-3 d-block pl-4" href="#">
                <span class="font-weight-medium h6">Yazarın Diğer Blogları</span>
                <i class="mdi mdi-chevron-right"></i>
            </a>
        </div>
    </div>
</div>